.waveform-container, .filter, .stats {
    margin-left: auto;
    margin-right: auto;
}

.stats {
    border: 4px solid black;
    border-radius: 10px;
    border-spacing: 0;
}

.stats th {
    background-color: #bbb;
}

.stats th, .stats td {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 5px;
    text-align: center;
}

.stats th:first-child, .stats td:first-child {
    border-left: none;
}

.stats th:last-child, .stats td:last-child {
    border-right: none;
}

.filter {
    display: table;
    margin-bottom: 10px;
}

.filter > div {
    display: table-row;
}

.filter > div > div {
    display: table-cell;
    padding: 5px;
}